.container-pix {
  display: grid;
  grid-template-columns: 40% 50%;
  margin: 1% 3% 3%;
}

.iproduto-pix {
  border-radius: 15px;
  width: 30%;
  margin: auto;
  border: 3px solid black;
  border-style: double;
}

.infoproduto-pix h3 {
  margin: 0;
  display: flex;
  color: black;
  font-weight: bold;
  justify-content: start;
  margin-top: 5%;
  font-size: larger;
}

.infoproduto-pix p {
  color: black;
  font-weight: bold;
}

.price4 {
  display: flex;
  justify-content: center;
  color: black;
  font-weight: bold;
  margin-top: 4%;
}

.price1 {
  display: flex;
  justify-content: center;
  color: black;
  font-weight: bold;
}

.price2 {
  display: flex;
  justify-content: center;
  color: black;
  font-weight: bold;
  margin-top: -2%;
}

.price3 {
  display: flex;
  justify-content: center;
  color: black;
  font-weight: bold;
}

.qrcode-pix {
  * {
    color: black;
    display: flex;
    font-weight: bold;
  }
}

.qrcode-pix h3 {
  margin: 0;
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 3%;
  font-size: larger;
}

.qrcode-pix p {
  margin: 0;
  margin-left: 10%;
}

#px1 {
  margin-top: 3%;
}

#qrcode {
  margin: 0 auto;
  margin-top: 2%;
  width: 30%;
}

.copycode-pix {
  display: inline-block;
}

.copycode-pix h3 {
  margin: 0;
  display: flex;
  justify-content: start;
  margin-top: 3%;
  font-size: larger;
  color: black;
}

.copycode-pix p {
  margin: 0;
  display: flex;
  color: black;
  font-weight: bold;
  justify-content: flex-start;
}

#px2 {
  margin-top: 3%;
}

.link-pix span {
  display: inline-flex;
  max-width: 67ch;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 0.5px solid black;
  height: 50px;
  border-radius: 5px;
  margin-top: 2%;
  padding: auto;
  align-items: center;
  font-weight: 200;
}

#px3 {
  display: inline-flex;
  align-items: baseline;
  gap: 3px;
}

.link-pix button {
  display: flex;
  border-radius: 5px;
  font-size: 15px;
  color: rgb(255, 255, 255);
  background-color: #203f46;
  transition: background-color 0.6s ease, color 0.5s ease, transform 0.5s ease;
  position: relative;
  margin: 0 auto;
}

.link-pix button:hover {
  background-color: #088178;
  color: rgb(255, 255, 255);
  font-weight: bold;
}

.back-pix0 {
  display: flex;
  justify-content: center;
}
.back-pix0 a {
  margin: 0;
  padding: 0;
}
.back-pix {
  margin-top: 25%;
  display: flex;
  justify-content: center;
  padding-left: 40px;
  padding-right: 40px;
  width: 15%;
  border-radius: 5px;
  font-size: 15px;
  color: rgb(255, 255, 255);
  background-color: #203f46;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

.back-pix:hover {
  background-color: #088178;
  color: rgb(255, 255, 255);
  font-weight: bold;
  transform: scale(1.2);
}
@media (max-width: 768px) {
  .container-pix {
    width: 700px;
    gap: 5%;
  }
  .infoproduto-pix h3 {
    font-size: 15px;
  }
  .infoproduto-pix p {
    font-size: 12px;
  }
  .qrcode-pix h3 {
    font-size: 15px;
  }
  .qrcode-pix p {
    font-size: 12px;
  }

  .copycode-pix h3 {
    font-size: 15px;
    justify-content: start;
  }
  .copycode-pix p {
    font-size: 12px;
  }
  .link-pix span {
    max-width: 40ch;
    overflow: hidden;
  }
  .section-p1 {
    margin-top: 9%;
  }
}

@media (max-width: 425px) {
  #qrcode-pix {
    width: 5px;
  }
  .link-pix span {
    max-width: 37ch;
    overflow: hidden;
  }
  #header {
    width: 168%;
  }
  .section-p1 {
    width: 168%;
    margin-top: 12%;
  }
}
@media (max-width: 320px) {
  #header {
    width: 222%;
  }
  .section-p1 {
    width: 222%;
    margin-top: 15%;
  }
}
