@import './styles/sobre.css';
@import './styles/detalhesProduto.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: white;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: white;
}

h3 {
    color:#065f59;
    font-size: 16px;
    margin-left: 3.5rem;
    text-align: left;
}

h6 {
    color:#065f59;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #ccc;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 80px;
}

.section-m1 {
    margin: 40px 0;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: linear-gradient(145deg, #203F46, #335960, #426E74, #66A0A5);
    z-index: 999;
    position: sticky;
    top: 0;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: white;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    padding-bottom: 5px; 
}

#navbar li a:hover,
#navbar li a.active {
    color: #088178;
    border-bottom: 2px solid #088178; 
}

.logo {
    width: 150px;
    height: auto;
}


#hero{
    background-image: url(img/homeEcoDecor.png);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}



#search-form input[type="text"] {
    border-radius: 6px; 
    outline: none;
    width: 200px;
    border: 1px solid #ccc;
    padding: 4px 4px 4px 4px;
}

.dropdown:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #203F46;
    padding: 10px;
    border-radius: 5px;
}

.submenu li {
    margin-bottom: 5px;
}

.submenu li a {
    color: white;
}

.submenu li a:hover {
    color: #088178;
}

#feature {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(209px, 1fr)); 
    gap: 20px; 
    width: 100%;
    max-width: 1580px; 
    margin: 0 auto;
}

.fe-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 auto;
}

.rounded-image {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.categorias {
    text-decoration: none;
}

@media (max-width: 480px) {
    #feature {
        grid-template-columns: repeat(3, 1fr);
    }
}


#product1 {
    text-align: center;
}

#product1 .pro {
    width: 17%;
    min-width: 100px;
    padding: 10px 12px;
    border: 1px solid #065f59;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
    margin: 15px 0;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.06);
}

#product1 .pro img {
    width: 100%;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;
}

#product1 .pro .des span{
    color: #203F46;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

.pro-container {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.pro {
    width: 30%; 
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url(img/salacategoria.jpg);
    width: 100%;
    height: 40vh;
    background-size: cover;
    background-position: center;
}

#newsletter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #065f59;
}

#newsletter h4 {
    font-size: 22px;
    font-weight: 700;
    color: white;
}

#newsletter p {
    font-size: 14px;
    font-weight: 600;
    color: white;
}
#newsletter p  span{
    color: yellow;
}

#newsletter input {
    height: 3rem;
    padding: 0 1.2em;
    font-size: 14px;
    width: 80%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

#newsletter .form {
    display: flex;
    width: 25%;
}

#newsletter button {
    background-color: #088178;
    color: white;
    white-space: nowrap;
    width: 30%;
    border: 1px solid transparent;
}

#container-clock {
    text-align: end;
    margin-top: 20px;
}

#clock {
    font-size: 2rem;
    font-weight: 600;
    padding: 30px 10px;
    border-radius: 15px;
    border: 5px solid rgba(223, 169, 169, 0.02);
    color: #099178;
    height: 10vh;
    display: flex;
    align-items: end;
    justify-content: end;
    background-color: white;
    margin-top: 10px;
}

#message {
    font-size: 1.5rem;
    color: #099178;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background: #065f59;
    padding: 20px 40px;
    color: #fff;  
}

footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px; 
}

footer .logo {
    margin-bottom: 30px;
}

footer h4 {
    font-size: 18px; 
    padding-bottom: 10px;
    color: #fff;
}

footer p {
    font-size: 16px; 
    color: #fff;  
}

footer a {
    font-size: 16px;
    text-decoration: none;
    color: #fff;  
    margin-bottom: 5px; 
}

footer .follow .icon i {
    font-size: 20px; 
    margin-right: 10px;
    color: #fff;  
}

footer .install .row img {
    width: 100px; 
    margin-right: 10px;
}

footer .install p {
    font-size: 16px;  
    color: #fff;  
}

footer p {
    font-size: 16px;  
    color: #fff; 
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #054a45;  
    padding: 10px 0;
    color: #fff;  
}

img{
    width: 100%;
    display: block;
}

.product-div-right span{
    display: block;
}

.btn-groups button{
    display: inline-block;
    font-size: 16px;
    font-family: inherit;
    text-transform: uppercase;
    padding: 15px 16px;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
}
.btn-groups button .fas{
    margin-right: 8px;
}
.add-cart-btn{
    background-color: #065f59;
    border: 2px solid #054a45;
    margin-right: 8px;
}
.add-cart-btn:hover{
    background-color: #fff;
    color: #065f59;
}
.buy-now-btn{
    background-color: #000;
    border: 2px solid #000;
}
.buy-now-btn:hover{
    background-color: #fff;
    color: #000;
}

#menu-icon {
    color: white; 
    font-size: 24px; 
}

@media (max-width: 768px) {
    #menu-icon {
        display: block; 
    }

    #navbar {
        display: none; 
        flex-direction: column;
        width: 100%;
    }

    #navbar li {
        width: 100%;
        text-align: center;
        margin: 5px 0;
    }

    #navbar.show {
        display: flex; 
    }
}

.dropdown:hover .submenu {
    display: block;
    position: absolute; 
    background-color: #203F46; 
    border-radius: 5px; 
    padding: 10px;
    z-index: 1000; 
}

.submenu li {
    margin-bottom: 5px;
}

.submenu li a {
    color: white;
}

.submenu li a:hover {
    color: #088178;
}

#navbar li form {
    order: 999; 
    width: 100%;
    text-align: center;
}

@media screen and (min-width: 968px) and (max-width: 1620px) {
    .btn-groups button{
        font-size: 16px;
    }
}
@media screen and (min-width: 868px) and (max-width: 1720px) {
    .btn-groups button{
        font-size: 10px;
    }
}
@media screen and (min-width: 668px) and (max-width: 1520px) {
    .btn-groups button{
        font-size: 8px;
    }
}
@media screen and (min-width: 468px) and (max-width: 1520px) {
    .btn-groups button{
        display: inline-block;
    }
}


