

.category-title, .breadcrumb {
    margin-left: 50px;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 13px;
    margin-top: 20px;
}

.cards-container {
    width: 100%;
    margin-top: 50px;
}

.box {
    width: 250px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    position: relative;
}

.box:hover {
    transform: translateY(-10px);
}

.discount {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #065f59;
    color: white;
    padding: 5px;
    font-size: 12px;
    border-radius: 3px;
}

.image {
    position: relative;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.image:hover img {
    transform: scale(1.1);
}

.icons {
    position: absolute;
    display: flex;
    gap: 10px;
    align-items: center;
}

.top-right {
    top: 10px;
    right: 10px;
}

.icons a {
    color: #19817a;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.icons a:hover {
    color: #065f59;
}

.content {
    padding: 15px;
}

.content h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #203F46;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content h3 a {
    color: #19817a;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.content h3 a:hover {
    color: #065f59;
}

.price {
    font-size: 16px;
    color: #065f59;
}

.price span {
    text-decoration: line-through;
    color: #999;
    margin-left: 10px;
}

.stars {
    color: #ffc107;
    margin-bottom: 10px;
}

.category-title {
    margin-top: 40px;
    font-size: 24px;
    font-weight: bold;
    color: #203F46;
}

.lista_produtos {
    margin-left: 50px;
}

.breadcrumb a {
    color: #19817a;
    text-decoration: none;
}

.breadcrumb a:hover {
    color: #065f59;
}

#banner_produtos {
    background-color: #065f59;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

.banner-icons {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    color: white;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon i {
    font-size: 24px;
    margin-bottom: 10px;
}

.icon span {
    font-size: 14px;
}

@media (max-width: 600px) {
    .cards-grid {
        grid-template-columns: repeat(2, 1fr); 
        gap: 13px;
    }
}
