
#hero2 {
    position: relative;
    background-image: url(../img/cozinha.fundo.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#hero2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 41, 38, 0.5);
    z-index: 1;
}

#hero2 h2,
#hero2 h1,
#hero2 p {
    position: relative;
    z-index: 2;
}

#hero2 p {
    color: wheat;
    font-size: 1.2rem;
}

.cards-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 9px;
    margin-top: 20px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.cards-container {
    width: 100%;
    margin-top: 50px;
}

.box {
    width: 100%;
    max-width: 250px;
    height: 350px;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin: 0 auto;
}

.box:hover {
    transform: translateY(-10px);
}

.discount {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #065f59;
    color: white;
    padding: 5px;
    font-size: 12px;
    border-radius: 3px;
}

.image {
    position: relative;
    overflow: hidden;
    height: 200px;
}

.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.image:hover img {
    transform: scale(1.1);
}

.icons {
    position: absolute;
    display: flex;
    gap: 10px;
    align-items: center;
}

.topp-right {
    top: 10px;
    right: 10px;
}
  
.icons a:hover {
    color: #065f59;
}

.content {
    padding: 15px;
    height: 150px;
    overflow: hidden;
}

.content h3 {
    margin: 10px 0;
    font-size: 18px;
    color: #203F46;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content h3 a {
    color: #19817a;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.content h3 a:hover {
    color: #065f59;
}

.price {
    font-size: 16px;
    color: #065f59;
}

.price span {
    text-decoration: line-through;
    color: #999;
    margin-left: 10px;
}

.stars {
    color: #ffc107;
    margin-bottom: 10px;
}

.category-title {
    margin-top: 40px;
    font-size: 24px;
    font-weight: bold;
    color: #203F46;
    margin-left: 30px;
}

.lista_produtos {
    align-items: center;
}

.breadcrumb {
    margin-top: 30px;
    font-size: 20px;
    margin-left: 30px;
}

.breadcrumb a {
    color: #088178;
    text-decoration: none;
    transition: color 0.3s;
}

.breadcrumb a:hover {
    color: #065a4c;
}

.breadcrumb a:not(:last-child):after {
    content: " > ";
    margin: 0 5px;
}

#banner_produtos {
    background-color: #065f59;
    padding: 20px;
    text-align: center;
    margin-top: 50px;
}

.banner-icons {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: 0 auto;
    color: white;
}
.icons a.fa-heart {
    color: #19817a; 
    position: relative;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon i {
    font-size: 24px;
    margin-bottom: 10px;
}

.icon span {
    font-size: 14px;
}

.icons a.fa-heart {
    color: #19817a; 
    position: absolute;
    top: 10px;
    right: 10px;
}


@media (max-width: 600px) {
    .cards-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 13px;
        padding: 0 10px;
    }
}
