.localiza{
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1.5rem;
    margin: 1rem 0rem 0 5.5rem ;
}
.navega a{
    color: #436F75;
    text-decoration: none;
}
.local{
    color: #595959;
}
#destaque{
    width: 100%;
    height: 38rem;
    margin: 1rem auto;
    background: linear-gradient(135deg, #203F46, #66A0A5);
}